/*  your css code here. If applicable */
body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: space-between;
}

.square {
    width: 20px;
    height: 20px;
    background-color: #1d1d1d;
    margin: 5px;
    transition: background-color 1s;
}

.square:nth-child(odd):hover {
    background-color: lightcoral;
    transition: background-color 1s;
}

.square:nth-child(even):hover {
    background-color: green;
    transition: background-color 1s;
}

.square:after{
    background-color: #1d1d1d;
    transition: background-color 1s;
}